<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    
    <connectionStrings>
        <add name="databaseConnection"
             connectionString="Server=(local)\SQL2017;Database=master;User ID=sa;Password=Password12!;"
             providerName="System.Data.SqlClient"
             xdt:Transform="SetAttributes" 
             xdt:Locator="Match(name)"/>
    </connectionStrings>

</configuration>